USE [master]
GO
/****** Object:  Database [CarInsuranceDB]    Script Date: 6/2/2021 4:00:15 AM ******/
CREATE DATABASE [CarInsuranceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarInsuranceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CarInsuranceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarInsuranceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CarInsuranceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarInsuranceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarInsuranceDB]
GO
/****** Object:  Table [dbo].[Accident]    Script Date: 6/2/2021 4:00:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accident](
	[Driver_id] [int] NOT NULL,
	[PlateCode] [varchar](10) NOT NULL,
	[Report_number] [varchar](10) NOT NULL,
	[damage_amount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Driver_id] ASC,
	[PlateCode] ASC,
	[Report_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 6/2/2021 4:00:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarPlate] [varchar](10) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[MYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CarPlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 6/2/2021 4:00:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[DriverID] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[Phone#] [int] NULL,
	[Car] [varchar](10) NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 6/2/2021 4:00:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportNumber] [varchar](10) NOT NULL,
	[Ac_date] [date] NOT NULL,
	[location] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accident]  WITH CHECK ADD  CONSTRAINT [FK_Accident_Car] FOREIGN KEY([PlateCode])
REFERENCES [dbo].[Car] ([CarPlate])
GO
ALTER TABLE [dbo].[Accident] CHECK CONSTRAINT [FK_Accident_Car]
GO
ALTER TABLE [dbo].[Accident]  WITH CHECK ADD  CONSTRAINT [FK_Accident_Driver] FOREIGN KEY([Driver_id])
REFERENCES [dbo].[Driver] ([DriverID])
GO
ALTER TABLE [dbo].[Accident] CHECK CONSTRAINT [FK_Accident_Driver]
GO
ALTER TABLE [dbo].[Accident]  WITH CHECK ADD  CONSTRAINT [FK_Accident_Report] FOREIGN KEY([Report_number])
REFERENCES [dbo].[Report] ([ReportNumber])
GO
ALTER TABLE [dbo].[Accident] CHECK CONSTRAINT [FK_Accident_Report]
GO
USE [master]
GO
