USE [master]
GO
/****** Object:  Database [LIU_SPORTS_RESERVATIONS]    Script Date: 03-Jan-23 3:48:27 PM ******/
CREATE DATABASE [LIU_SPORTS_RESERVATIONS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIU_SPORTS_RESERVATIONS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LIU_SPORTS_RESERVATIONS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LIU_SPORTS_RESERVATIONS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LIU_SPORTS_RESERVATIONS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIU_SPORTS_RESERVATIONS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIU_SPORTS_RESERVATIONS]
GO
/****** Object:  Table [dbo].[Building]    Script Date: 03-Jan-23 3:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Building](
	[BuildingID] [int] NOT NULL,
	[BuildingName] [char](30) NOT NULL,
	[Type] [char](10) NOT NULL,
	[Area] [decimal](18, 0) NOT NULL,
	[FreeArena] [int] NOT NULL,
	[SportPlayed] [char](10) NOT NULL,
	[EquipmentLot] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BuildingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DelegationChief]    Script Date: 03-Jan-23 3:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DelegationChief](
	[ChiefID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[PhoneNumber] [int] NOT NULL,
	[Res_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 03-Jan-23 3:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[LotNumber] [int] NOT NULL,
	[Type] [char](10) NOT NULL,
	[Units] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LotNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelRoom]    Script Date: 03-Jan-23 3:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelRoom](
	[RoomID] [int] NOT NULL,
	[HotelName] [char](30) NOT NULL,
	[Address] [char](30) NOT NULL,
	[RoomNumber] [int] NOT NULL,
	[Type] [char](10) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_HotelRoom] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 03-Jan-23 3:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[StartHr] [real] NOT NULL,
	[EndHr] [real] NOT NULL,
	[Hotel_Start] [date] NOT NULL,
	[Hotel_End] [date] NOT NULL,
	[ChiefID] [int] NOT NULL,
	[SportBld] [int] NOT NULL,
	[Sport] [char](10) NOT NULL,
	[Room_Res] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sports]    Script Date: 03-Jan-23 3:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sports](
	[SportName] [char](10) NOT NULL,
	[EquipmentUsed] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SportName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [FK_Building_ToTable] FOREIGN KEY([SportPlayed])
REFERENCES [dbo].[Sports] ([SportName])
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [FK_Building_ToTable]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [FK_Building_ToTable_1] FOREIGN KEY([EquipmentLot])
REFERENCES [dbo].[Equipment] ([LotNumber])
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [FK_Building_ToTable_1]
GO
ALTER TABLE [dbo].[DelegationChief]  WITH CHECK ADD  CONSTRAINT [FK_DelegationChief_Reservation] FOREIGN KEY([Res_ID])
REFERENCES [dbo].[Reservation] ([ReservationId])
GO
ALTER TABLE [dbo].[DelegationChief] CHECK CONSTRAINT [FK_DelegationChief_Reservation]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_ToTable_1] FOREIGN KEY([SportBld])
REFERENCES [dbo].[Building] ([BuildingID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_ToTable_1]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_ToTable_2] FOREIGN KEY([Sport])
REFERENCES [dbo].[Sports] ([SportName])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_ToTable_2]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_ToTable_3] FOREIGN KEY([Room_Res])
REFERENCES [dbo].[HotelRoom] ([RoomID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_ToTable_3]
GO
ALTER TABLE [dbo].[Sports]  WITH CHECK ADD  CONSTRAINT [FK_Sports_ToTable] FOREIGN KEY([EquipmentUsed])
REFERENCES [dbo].[Equipment] ([LotNumber])
GO
ALTER TABLE [dbo].[Sports] CHECK CONSTRAINT [FK_Sports_ToTable]
GO
USE [master]
GO
